# DS-SF-36 | Unit Project | 2 | Exploratory Data Analysis | Starter Code

In this project, you will implement the exploratory analysis plan developed in Unit Project 1.  This will lay the groundwork for our modeling exercise in Unit Project 3.

First, load the python libraries you will need for this project:

In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm

pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', 10)
pd.set_option('display.notebook_repr_html', True)

%matplotlib inline
plt.style.use('ggplot')

/Users/issingh/anaconda/lib/python2.7/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

Then, read in your dataset:

In [2]:
df = pd.read_csv(os.path.join('..', '..', 'dataset', 'dataset-ucla-admissions.csv'))

df

     admit    gre   gpa  prestige
0        0  380.0  3.61       3.0
1        1  660.0  3.67       3.0
2        1  800.0  4.00       1.0
3        1  640.0  3.19       4.0
4        0  520.0  2.93       4.0
..     ...    ...   ...       ...
395      0  620.0  4.00       2.0
396      0  560.0  3.04       3.0
397      0  460.0  2.63       2.0
398      0  700.0  3.65       2.0
399      0  600.0  3.89       3.0

[400 rows x 4 columns]

## Questions

> ### Question 1.  How many observations are in our dataset?

In [7]:
df.shape
#There are 400 observations in the dataframe

(400, 4)

Answer: TODO

> ### Question 2.  Create a summary table.

In [18]:
df.describe()

   X1 = df[ ['gre']]

   Y1 = df[ ['admit']]

model = sm.OLS(Y1, X1).fit()

model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  admit   R-squared:                       0.340
Model:                            OLS   Adj. R-squared:                  0.339
Method:                 Least Squares   F-statistic:                     204.8
Date:                Mon, 31 Jul 2017   Prob (F-statistic):           9.32e-38
Time:                        18:34:37   Log-Likelihood:                -254.64
No. Observations:                 398   AIC:                             511.3
Df Residuals:                     397   BIC:                             515.3
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
gre            0.0005   3.84e-05     14.312      0.000       0.000       0.001
==============================================================================
Omnibus:                     1073.907   Durbin-Watson:                   1.992
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               67.767
Skew:                           0.752   Prob(JB):                     1.93e-15
Kurtosis:                       1.649   Cond. No.                         1.00
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

> ### Question 3.  Why would `gre` have a larger variance than `gpa`?

In [ ]:
GRE and GPA have different units. Comparing them in absolutes is not feasible.
Hypothetically, if both had the same units, One would have a larger variance than the other
because of one data point being  more spread around the mean than the other.

GRE and GPA have different units. Comparing them in absolutes is not feasible.
Hypothetically, if both had the same units, One would have a larger variance than the other
because of one data point being  more spread around the mean than the other.

> ### Question 4.  Drop data points with missing data.

In [ ]:
# TODO

> ### Question 5.  Confirm that you dropped the correct data.  How can you tell?

In [ ]:
# TODO

Answer: TODO

> ### Question 6.  Create boxplots for `gre` and `gpa`.

In [ ]:
# TODO

In [ ]:
# TODO

> ### Question 7.  What do boxplots show?

Answer: TODO

> ### Question 8.  Plot the distribution of each variable.

In [ ]:
# TODO

In [ ]:
# TODO

In [ ]:
# TODO

In [ ]:
# TODO

> ### Question 9.  If our model had an assumption of a normal distribution for `gre` and `gpa`, would we meet that requirement?  Would their distributions need correction?  If so, why, why not?  How?

In [ ]:
# TODO

In [ ]:
# TODO

Answer: TODO

> ### Question 10.  Create a correlation matrix for the dataset.

In [ ]:
# TODO

> ### Question 11.  What did you find?  Which of our variables are potentially colinear?

Answer: TODO

> ### Question 12.  Write an analysis plan for exploring the association between graduate school admission rates and prestige of undergraduate schools.

Answer: TODO

> ### Question 13.  What is your hypothesis?

Answer: TODO